@charset "utf-8";
@font-face{
    font-family: 'CricularStd-Bold';
    font-style: normal;
    font-display: swap;
    font-weight: bold;

    src:url(../font/CircularStd-Bold.woff2) format('woff2');
}
@font-face{
    font-family: 'Cricular Std book';
    font-style: normal;
    font-display: swap;
    font-weight: normal;

    src:url(../font/CircularStd-Book.woff2) format('woff2');
}
@font-face{
    font-family: 'Cricular Std';
    font-style: normal;
    font-display: swap;
    font-weight: 500;

    src:url(../font/CircularStd-Medium.woff2) format('woff2');
}
@font-face{
    font-family: 'Cricular Std';
    font-style: normal;
    font-display: swap;
    font-weight: 500;

    src:url(../font/CircularStd-MediumItalic.woff2) format('woff2');
}
@font-face{
    font-family: 'CJ ONLYONE NEW title';
    font-style: normal;
    font-display: swap;
    font-weight: bold;

    src:url(../font/CJONLYONENEWtitleBold.woff2) format('woff2');
}
@font-face{
    font-family: 'CJ ONLYONE NEW body';
    font-style: normal;
    font-display: swap;
    font-weight: 400;

    src:url(../font/CJONLYONENEWbodyRegular.woff2) format('woff2');
}

@font-face {
    font-family: 'SeoulHangangEB';
    font-style: normal;
    font-display: swap;
    src: url("../font/SeoulHangangEB.woff") format("woff");
  }
  